API response: {{ helloWorld }}


<div class="card-container">
    <div class="card">
        A given document can have multiple articles in it; for example, on a blog that shows the text of each article one after another as the reader scrolls, each post would be contained in an  element, possibly with one or mor  within.
    
        <div class="card-footer">
            <button title="button">dave</button>
        </div>

        <div class="card-footer secondary">
            <button title="button">cancel</button>
        </div>
    </div>
</div>
