$ns-light-theme: (
    primary: #2d6953,
    on-primary: #ffffff,
    primary-container: #b1f0d4,
    on-primary-container: #002116,
    inverse-primary: #96d3b8,
    primary-fixed: #b1f0d4,
    primary-fixed-dim: #96d3b8,
    on-primary-fixed: #002116,
    on-primary-fixed-variant: #0f513c,
    secondary: #4c6359,
    on-secondary: #ffffff,
    secondary-container: #cfe8db,
    on-secondary-container: #091f17,
    secondary-fixed: #cfe8db,
    secondary-fixed-dim: #b3ccbf,
    on-secondary-fixed: #091f17,
    on-secondary-fixed-variant: #354b42,
    tertiary: #a43d00,
    on-tertiary: #ffffff,
    tertiary-container: #ffdbcd,
    on-tertiary-container: #360f00,
    tertiary-fixed: #ffdbcd,
    tertiary-fixed-dim: #ffb597,
    on-tertiary-fixed: #360f00,
    on-tertiary-fixed-variant: #7d2d00,
    background: #fcf9f7,
    on-background: #1c1b1b,
    surface: #fcf9f7,
    surface-dim: #dcd9d8,
    surface-bright: #fcf9f7,
    surface-container-lowest: #ffffff,
    surface-container-low: #f6f3f2,
    surface-container: #f1edec,
    surface-container-high: #ebe7e6,
    surface-container-highest: #e5e2e1,
    on-surface: #1c1b1b,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #5c5f5c,
    inverse-surface: #313030,
    inverse-on-surface: #f3f0ef,
    outline: #747875,
    outline-variant: #c3c8c4,
    neutral: #787776,
    neutral10: #1c1b1b,
    error: #ba1a1a,
    error-container: #ffdad6,
    on-error: #ffffff,
    on-error-container: #410002,
    surface-variant: #dfe3df,
    on-surface-variant: #434845,
    neutral-variant: #737875,
    neutral-variant20: #2d312f,
    inverse-secondary: #b3ccbf,
    inverse-tertiary: #ffb597
);


/* Dark Theme */
$ns-dark-theme: (
    primary: #96d3b8,
    on-primary: #003828,
    primary-container: #0f513c,
    on-primary-container: #b1f0d4,
    inverse-primary: #2d6953,
    primary-fixed: #b1f0d4,
    primary-fixed-dim: #96d3b8,
    on-primary-fixed: #002116,
    on-primary-fixed-variant: #0f513c,
    secondary: #b3ccbf,
    on-secondary: #1f352c,
    secondary-container: #354b42,
    on-secondary-container: #cfe8db,
    secondary-fixed: #cfe8db,
    secondary-fixed-dim: #b3ccbf,
    on-secondary-fixed: #091f17,
    on-secondary-fixed-variant: #354b42,
    tertiary: #ffb597,
    on-tertiary: #581d00,
    tertiary-container: #7d2d00,
    on-tertiary-container: #ffdbcd,
    tertiary-fixed: #ffdbcd,
    tertiary-fixed-dim: #ffb597,
    on-tertiary-fixed: #360f00,
    on-tertiary-fixed-variant: #7d2d00,
    background: #131313,
    on-background: #e5e2e1,
    surface: #131313,
    surface-dim: #131313,
    surface-bright: #3a3939,
    surface-container-lowest: #0e0e0e,
    surface-container-low: #1c1b1b,
    surface-container: #201f1f,
    surface-container-high: #2a2a29,
    surface-container-highest: #353534,
    on-surface: #e5e2e1,
    shadow: #000000,
    scrim: #000000,
    surface-tint: #c5c7c3,
    inverse-surface: #e5e2e1,
    inverse-on-surface: #313030,
    outline: #8e928e,
    outline-variant: #434845,
    neutral: #787776,
    neutral10: #1c1b1b,
    error: #ffb4ab,
    error-container: #93000a,
    on-error: #690005,
    on-error-container: #ffdad6,
    surface-variant: #434845,
    on-surface-variant: #c3c8c4,
    neutral-variant: #737875,
    neutral-variant20: #2d312f,
    inverse-secondary: #4c6359,
    inverse-tertiary: #a43d00
);
