
.app-container {
    height: 100%;
    overflow: auto;
}

.header {
    background-color: var(--surface);
    color: var(--on-surface);
}

.content {
    overflow: auto;

    height: 100%;
    width: 100%;

}
