.multi-select {
    justify-content: end;
    position: relative;
    display: flex;
    background-color: inherit;
    color: inherit;
}

.trigger {
    display: flex;
    width: 100%;
}
.trigger:hover {
    .open-close-icons {
        cursor: pointer;
        background-color: var(--surface-variant);
        fill: var(--on-surface-variant);
    }
    input[type="button"] {
        cursor: pointer;
        background-color: var(--surface-variant);
        color: var(--on-surface-variant);
    }
}

input[type="button"] {
    min-width: 150px;
    background-color: inherit;
    color: inherit;
}

.open-close-icons {
    fill: var(--on-surface);
}

.options-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
}
.close-icon:hover {
    cursor: pointer;
}

.options-panel {
    position: fixed;

    border-radius: var(--border-radius-medium);
    z-index: 100;

    min-width: 150px;

    background-color: var(--surface-container-high);
    color: var(--on-surface);
}

.option {
    display: flex;
    text-align: center;

    padding: 5px;

    color: var(--on-surface-variant);
    border-radius: var(--border-radius-medium);
}
.option:hover {
    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
    cursor: pointer;
}

.checkbox {
    fill: var(--on-surface);
}