.field {
    position: relative;
    height: 56px;

    padding: 16px 8px;
    border: 1px solid var(--outline);
    border-radius: 4px;

    &:focus-within {
        border: 2px solid var(--primary);
    }
}

input {
    color: var(--on-surface);
    background-color: inherit;
    font: var(--body-large);
}

input::placeholder {
    color: var(--on-surface-variant);
    font: var(--body-large);
}

/* floating label */
.field input:placeholder-shown + label {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);  /* optional if you animate */
    transition: 0.3s ease;
}

.field label {
    position: absolute;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease;
    margin-left: 8px;
    padding: 0px 4px;
}

.field input:not(:placeholder-shown) + label {
    top: -9px;
    left: 0px;
    font: var(--label-small);
    color: var(--primary);
    background-color: var(--surface);
}

