<div class="container">
    <form [formGroup]="queryForm" class="query-form">
        <app-search formControlName="query"
                    (keydownEnter)="search()"
                    (toggleSearchFilter)="showSearchCriteria = !showSearchCriteria"
                    [hasFilterOptions]="true"
                    style="width: max-content; flex: 1 1 auto;">
        </app-search>
    </form>

    @if (showSearchCriteria) {
        <form [formGroup]="searchCriteriaForm">
            <div class="control-container">
                <!-- <div class="control">
                    <app-input-numeric formControlName="pageSize"
                               [title]="'Page Size'"
                               [placeholder]="'Page Size'"
                               [label]="'Page Size'"
                               [id]="'pageSize'">
                    </app-input-numeric>
                </div> -->

                <!-- <div>
                    <app-input-numeric formControlName="pageNumber"
                                       [title]="'Page Number'"
                                       [placeholder]="'Page Number'"
                                       [label]="'Page Number'"
                                       [id]="'pageNumber'">
                    </app-input-numeric>
                </div> -->

                <div>
                    <app-input-text formControlName="brandOwner"
                                    [title]="'Brand Owner'"
                                    [placeholder]="'Brand Owner'"
                                    [label]="'Brand Owner'"
                                    [id]="'brandOwner'">
                    </app-input-text>
                </div>

                <!-- <div>
                    <input type="date" formControlName="startDate" title="Start Date" placeholder="mm/dd/yyyy" />
                </div>
                <div>
                    <input type="date" formControlName="endDate" title="End Date" placeholder="mm/dd/yyyy" />
                </div> -->

                <div>
                    <app-single-select [options]="sortOrder.options"
                                       [triggerText]="'Sort Order'"
                                       formControlName="selectedSortOrder">
                    </app-single-select>
                </div>

                <div>
                    <app-single-select [options]="sortBy.options"
                                       [triggerText]="'Sort By'"
                                       formControlName="selectedSortBy">
                    </app-single-select>
                </div>

                <div>
                    <app-multi-select [options]="dataTypes.options"
                                      [triggerText]="'Data Types'"
                                      formControlName="selectedDataTypes">
                    </app-multi-select>
                </div>

                <div>
                    <app-multi-select [options]="tradeChannels.options"
                                      [triggerText]="'Trade Channels'"
                                      formControlName="selectedTradeChannels">
                    </app-multi-select>
                </div>
            </div>
        </form>
    }
    
</div>