.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 0px 16px;
}

.query-form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.query-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.control-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

svg {
    fill: var(--on-surface);
}

form {
    width: 100%;
}